<template name="about">
    <div class="container">
        <div class="row well">
            <div class="col-md-6">
                <h1>Introducing Robo-sensei</h1>
                <img src="/images/about/robo_coach.jpeg" class='img-rounded'>
            </div>
            <div class="col-md-6">
                <h3>Data-driven training</h3>
                <p>Training for rock-climbing has progressed impressiveley in recent years.
                There is one huge hurdle keeping the training community froam reaching
                the next level: data. We're collecting training data on a scale that Horst
                (author of 'How to Climb 5.12') could only have dreamed of. We're applying
                cutting-edge machine-learning algorithms to these data and building personalized
                training plans to help you stay motivated, break plateaus and send harder
                than you ever thout possible. As the community builds our dataset with
                their flappers, sweat and tears, Robo-sensei will get smarter and your
                workouts will get more and more effective. Are you ready to forge your
                body in the fire of our will?</p>
            </div>
        </div>
    </div>
    <div class="section section-primary">
        <div class="container">
            <div class="row well">
                <div class="col-md-6">
                    <h3>Self-guided mode</h3>
                    <p>Of course, if you are a seasoned training-vet and you just want a method of tracking workout data,
                    we have you covered. Use our training activity selector to log just about any training 
                    data you can think of. We'll automatically import your settings from previous workouts, show you progress 
                    graphs and give you a chance to tweak your new goals manually. Are you ready to forge your body in the fire
                    of your will?</p>
                </div>
                <div class="col-md-6">

                    <h1>"Roll Your Own"</h1>
                    <img src="/images/about/training_vet.jpeg" class='img-rounded'>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-success">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Team</h1>
                    <p class="text-center">We are a group of skilled degenerates.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <img src="images/about/team_brad_high_noon.jpg" class="center-block img-circle img-responsive">
                    <h3 class="text-center">Brad</h3>
                    <p class="text-center">Guinea Pig</p>
                </div>
                <div class="col-md-4">
                    <img src="images/about/team_brad_dirtbag.jpg" class="center-block img-circle img-responsive">
                    <h3 class="text-center">'Scraps'</h3>
                    <p class="text-center">Bread-Winner</p>
                </div>
                <div class="col-md-4">
                    <img src="/images/about/team_brad_leisure.jpg" class="center-block img-circle img-responsive">
                    <h3 class="text-center">Don Dean</h3>
                    <p class="text-center">Over Achiever</p>
                </div>
            </div>
        </div>
    </div>

</template>
