    
<template name="firstStep">
            <div class="row well">
                    <div class="col-xs-6">
                        <a href="{{pathFor 'roboCoachSetup'}}">
                            <img src="/images/navigation_images/our_will.jpeg" class="img-responsive img-circle" >
                            <h1>Forge your body in the fire
                                <br> of <em>our </em>will.</h1>
                            <p></p>
                            <p>Let us help you build a personalized training schedule.
                            <br>We'll ask you questions about your climbing goals, work/school/life responsibilites,
                            <br>and training experience.</p>
                            <p></p>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        
                        <a href="{{pathFor 'modeSelector'}}">
                            <img src="/images/navigation_images/your_will.jpeg" class="img-responsive img-circle">
                            <h1>Forge your body in the fire of 
                                <em>your </em>will.</h1>
                            <p></p>
                            <p>Skip the part where our algorithms advise you and jump straight
                            <br>to the workout data tracking tools.</p>
                            <p></p>
                        </a>
                    </div>
            </div><!-- close 'row' -->
</template>
