<template name='strengthSelector'><div class="container">
        <div class="row well">
          <div class="col-md-12">
            <h1 class="text-center">Strength Training</h1>
          </div>
        </div>
        <div class="row well">
            <a href = "{{pathFor 'hangBoardForm'}}">
          <div class="col-md-6">
            <img src="/images/navigation_images/strength_hangboard.jpeg" class="img-responsive">            <h3>Hang Boarding</h3>
            <p>Track progress, view performance graphs and channel your inner barnicle!</p>
          </div>
          </a>

          <div class="col-md-6">
            <a><img src="/images/navigation_images/boulder_ladder.jpeg" class="img-responsive"></a>
            <h2>Boulder Ladder</h2>
            <p>Some bouler ladder workouts will keep your technique from getting too
              rusty during this phase of training.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <a><img src="/images/navigation_images/systems_wall.jpeg" class="img-responsive"></a>
            <h3>Systems Wall</h3>
            <p>A nice balance of repeatability and climbing-specific movement. A good
              choice if good a good handboard setup is unavailable.</p>
          </div>
          <div class="col-md-6">
            <a><img src="/images/navigation_images/strength_supplemental_training.jpeg" class="img-responsive"></a>
            <h3>Supplemental Exercises</h3>
            <p>Target specific, major, muscle group weaknesses.</p>
          </div>
        </div>
      </div>
</template>

